@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Yomogi', cursive;
}
.container {
  display: flex;
  align-items: center;
  background: url("../img/water-2872961_640.png") no-repeat;
  width: 430px;
  margin: 30px auto;
  min-height: 100vh;
}
.container-conteudo {
  text-align: center;
  width: 150px;
  margin: 50% 0 0 70px;
  font-weight: bold;
  transform: rotate(-5deg);
}
@media(max-width:700px){
  .container-conteudo{
    width: 120px;
    margin: 60% 0 0 80px;
  }
}
label {
  text-transform: uppercase;
  font-weight: bold;
}
input {
  outline: none;
  border: none;
  width: 105px;
  padding: 10px;
  margin: 10px 0 10px 0;
  border-radius: 20px;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}
@media(max-width:700px){
  input {
    width: 100px;
    margin: 10px 0 10px 0;
  }
}
.btn {
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background:#016abc;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}
@media(max-width:700px) {
  .btn {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.btn:hover {
  background: #b9dfff;
  color: #fff;
  border:  1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

